html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.profile {
  width: 1280px;
  margin: 0 auto;
}

.section {
  padding: 50px;
}
.section_black {
  background-color: #445161;
}
.section_img {
  width: 40%;
}

.main-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.main-article_white {
  color: white;
}

.main-article__list {
  font-size: 20px;
}

.main-article__title {
  font-size: 60px;
  margin-bottom: 50px;
}

.main-article__item {
  margin-bottom: 10px;
}

.main-article__item::before {
  content: url("../assets/check_icon.png");
  margin-right: 10px;
}

.first-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.section_white {
  background-color: white;
}

.first-article {
  width: 652px;
}

.first-article_black {
  color: #445161;
}

.first-article__title {
  font-size: 30px;
  margin-bottom: 39px;
}

.first-article__p {
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 16px;
}

.dignity-section {
  background-color: #f5f5f5;
}

.dignity-section__title {
  text-align: center;
  font-size: 30px;
  color: #445161;
  margin-bottom: 35px;
  padding-top: 50px;
}

.dignity-section__list {
  column-count: 2;
  font-size: 16px;
  line-height: 24px;
  color: #445161;
  padding: 0 50px 0 50px;
}

.dignity-section__item {
  margin-bottom: 35px;
  position: relative;
  padding-left: 42px;
}

.dignity-section__item::before {
  content: url("../assets/plus_icon.png");
  position: absolute;
  left: 0px;
}

.screenshots-section__title {
  text-align: center;
  font-size: 30px;
  color: #445161;
  padding: 50px 0px 30px 0px;
}

.screenshots-section__article {
  column-count: 2;
  font-size: 16px;
  line-height: 24px;
  color: #445161;
}

.screenshots-section__text h3 {
  font-size: 24px;
  color: #445161;
  margin-bottom: 20px;
  padding-left: 260px;
}

.screenshots-section__text p {
  margin-bottom: 20px;
  padding-left: 260px;
}

.screenshots__img {
  float: left;
  padding-left: 50px;
}

.reviews-sections {
  background-color: #f5f5f5;
}

.reviews-section__title {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  color: #445161;
  margin-bottom: 36px;
}

.gray-lourens {
  color: #989898;
  padding: 0px 0px 15px 15px;
}

.font-italiac {
  font-style: italic;
  color: #333333;
}

.reviews-section_gray-block {
  background-color: #ebebeb;
  border-radius: 10px;
}

.font-italiac {
  padding: 15px;
}

.reviews-sections__article {
  display: flex;
  margin-bottom: 25px;
}

.reviews-section__img-circle {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  margin-left: 50px;
}

.wrapper-articles {
  display: flex;
}

.reviews-section_gray-block {
  position: relative;
}

.reviews-section_gray-block::before {
  content: url("../assets/triangle.png");
  position: absolute;
  left: -12px;
  top: 25px;
}

.buy-it-now-title {
  text-align: center;
  font-size: 30px;
  color: #445161;
  margin-top: 25px;
}

.price-section-100 {
  margin-left: 100px;
  margin-right: -10px;
}

.price-section__standart-100 {
  width: 302px;
  height: 307px;
  background-color: #445161;
  border-radius: 10px;
}

.price-section__title-100 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

.price-section__price-100 {
  background-color: #ffffff;
  width: 297px;
  height: 70px;
  margin-left: 3px;
  text-align: center;
  color: #445161;
  font-size: 40px;
  line-height: 70px;
}

.price-section__list-100 {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.price-section__btn-100 {
  background-color: #ffffff;
  width: 260px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.price-section__premium-150 {
  width: 302px;
  height: 405px;
  background-color: #445161;
  border-radius: 10px;
}

.price-section__title-150 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

.price-section__price-150 {
  background-color: #ffffff;
  width: 297px;
  height: 70px;
  margin-left: 3px;
  text-align: center;
  color: #445161;
  font-size: 40px;
  line-height: 70px;
}

.price-section__list-150 {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.price-section__btn-150 {
  background-color: #ffffff;
  width: 260px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.price-section__lux-200 {
  width: 302px;
  height: 500px;
  background-color: #445161;
  border-radius: 10px;
}

.price-section__title-200 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

.price-section__price-200 {
  background-color: #ffffff;
  width: 297px;
  height: 70px;
  margin-left: 3px;
  text-align: center;
  color: #445161;
  font-size: 40px;
  line-height: 70px;
}

.price-section__list-200 {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.price-section__btn-200 {
  background-color: #ffffff;
  width: 260px;
  height: 40px;
  text-align: center;
  color: #445161;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.price-section-100, .price-section-150, .price-section-200 {
  display: inline-block;
  padding: 45px;
}

@media (max-width: 640px) {
  .profile {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
